node_modules
.env
coverage
coverage.json
typechain
typechain-types
.md
# Hardhat files
cache
artifacts

# Frontend
web/node_modules
web/dist
web/.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
